<div class="row mt-3">
  <h3>Pinned</h3>
  {%- assign projects = site.projects -%}
  {%- assign cards_per_row = 3 -%}
  <div class="row mb-3">

  {%- for project in projects %}
    {%- assign ispinned = project.pinned -%}
    {%- if ispinned == true %}

      {%- assign project_id    = project.name | slugify -%}
      {%- assign project_img   = project.image -%}
      {%- assign project_name  = project.name -%}
      {%- assign project_desc  = project.description -%}
      {%- assign project_tools = project.tools -%}
      {%- assign project_url = project.url | relative_url -%}

      {% include projects/project-card.html %}
    {%- endif %}
  {% endfor %}
  </div>
</div>


<div class="row">
  {%- assign projects = site.projects | sort: 'release-date' | reverse -%}
  {%- assign projects = projects | where: 'pinned', false -%}

  {%- assign current_year = '' -%}
  {%- assign cards_per_row = 3 -%}

  {%- for project in projects %}
      {%- assign release_year = project.release-date | date: "%Y" -%}
      {%- if release_year != current_year %}
        {%- assign current_year = release_year -%}
        {%- if forloop.index != 1 %}
        </div>
        {%- endif %}
        <h2>{{ current_year }}</h2>
        <div class="row mb-3">
      {%- endif %}

      {%- assign project_id    = project.name | slugify -%}
      {%- assign project_img   = project.image -%}
      {%- assign project_name  = project.name -%}
      {%- assign project_desc  = project.description -%}
      {%- assign project_tools = project.tools -%}
      {%- assign project_url = project.url | relative_url -%}

      {% include projects/project-card.html %}

  {% endfor %}
</div>
