<!DOCTYPE html>


<html lang="en" class="h-100">

{% include head.html %}

<body class="h-100 d-flex flex-column">

  <main class="flex-shrink-0 container mt-5">
    {% include navbar.html %}
    {{ content }}
  </main>
  {% include footer.html %}

  {% include scripts.html %}
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-58VTB4WC"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
</body>

</html>
